/****************************************/
/* mlweb.css                            */
/* Used for mouselabWEB pages           */
/* Version 1.00beta Aug 14 2008         */
/****************************************/

/****************************************/
/* HTML tag styles                      */
/****************************************/

body {
  font-family: Arial, sans-serif;
  color: #333333;
  line-height: 1.166;
  margin: 16px;
  padding: 0px;
  background-color: #e3e9f1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: Verdana, Arial, sans-serif;
  font-size: 150%;
  color: #3b4955;
}

h2 {
  font-size: 114%;
  color: #006699;
  padding-bottom: 10px;
}

h3 {
  font-size: 100%;
  color: #334d55;
}

h4 {
  font-size: 100%;
  font-weight: normal;
  color: #333333;
}

h5 {
  font-size: 100%;
  color: #334d55;
}

P,
ul,
ol,
TD {
  font-size: 90%;
  color: #334d55;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: square;
}

ul ul {
  list-style-type: disc;
}

ul ul ul {
  list-style-type: none;
}

label {
  font: bold 100% Arial, sans-serif;
  color: #334d55;
}

/***********************************************/
/* MLWEB Divs                                 */
/***********************************************/
.mlwebTD,
.actTD {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #000000;
  text-decoration: none;
  vertical-align: middle;
  border: 1px inset black;
  background-color: #fafafa;
}

.mlwebBox,
.boxTD {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  color: #ffffff;
  text-decoration: none;
  vertical-align: middle;
  border: 4px groove #cccccc;
  background-color: #888888;
}

.mlheaderTD,
.inactTD {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  vertical-align: middle;
}

.btnStyle {
  font-size: 84%;
  background-color: #eee;
  border: 1px solid;
  border-top-color: #fff;
  border-left-color: #fff;
  border-right-color: #444;
  border-bottom-color: #444;
}
.pressedStyle {
  background-color: #888888;
  font-size: 84%;
  background-color: #ccc;
  border: 1px solid;
  border-top-color: #003366;
  border-left-color: #003366;
  border-right-color: #fff;
  border-bottom-color: #fff;
}
.btnhov {
  border-top-color: #006699;
  border-left-color: #006699;
  border-right-color: #0099cc;
  border-bottom-color: #0099cc;
}

.tmCont {
  border: 1px solid #3b4955;
  position: relative;
  z-index: 1;
  height: 22px;
}

.tmBar {
  background: #aaaaaa;
  height: 18px;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 2;
}
.tmTime {
  height: 18px;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 3;
  text-align: center;
  color: #334d55;
  background-image: none;
}

/* 
	Personal Divs
*/

.myButton {
  padding: 16px;
}
